<div class="content">
    <mat-card>
        <mat-card-title> Lista de clientes </mat-card-title>
        <div class="content-card" *ngFor="let cliente of clientes | async">
            <div class="content-list">
                <mat-list>
                    <mat-list-item><b>Nome completo:</b>  {{cliente.nome}} </mat-list-item>
                    <mat-list-item><b>Email:</b>  {{cliente.email}} </mat-list-item>
                    <mat-list-item><b>Telefone:</b>  {{cliente.telefone}} </mat-list-item>
                    <mat-list-item><b>Data de nascimento:</b>  {{cliente.data_nascimento}} </mat-list-item>
                </mat-list>
                <hr>
            </div>
            <div class="botoes">
                <div class="botao">
                    <button mat-raised-button color="primary" (click)="edit(cliente, cliente.key)">Editar</button>
                </div>
                <div class="botao">
                    <button mat-raised-button color="warn" class="botao" (click)="delete(cliente.key)">Excluir</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
    
