.content {
    height: 100%;
    display: grid;
    grid-template-rows: 12% 73% 15%;
    padding: 0% 5% 0% 5%;
}

.menu {
}

.main {
    background-color: #B8BE14;
    padding: 3% 05% 3% 5%;
}

.footer {
    background-color: #5C2C8A;
}