<div class="content">
    <div class="content-cadastro">
        <mat-card class="content-card">
            <mat-card-title> Cadastro de clientes </mat-card-title>
            <form class="content-form">
                <mat-form-field>
                    <input matInput placeholder="Nome completo">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefone">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Data de nascimento">
                </mat-form-field>
            </form>
        </mat-card>
    </div>
    <div class="botoes">
        <div class="botao">
            <button mat-raised-button (click)="createProduct()" color="primary">
                Salvar
            </button>
        </div>
        <div class="botao">
            <button mat-raised-button (click)="cancel()">
                Cancelar
            </button>
        </div>
    </div>
</div>