.content-card {
    height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.content-form {
    display: grid;
    grid-template-rows: 80% 20%;
}

.dados {
    display: grid;
}

.botao {
    position: relative;
    align-items: flex-end;
}
