<mat-card class="content-card">
    <mat-card-title> Cadastro de clientes </mat-card-title>
    <form class="content-form" (ngSubmit)="onSubmit()">
        <div class="dados">
            <mat-form-field>
                <input type="text" matInput [(ngModel)]="cliente.nome" name="nome" placeholder="Nome completo" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput [(ngModel)]="cliente.email" name="email" placeholder="Email" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput [(ngModel)]="cliente.telefone" name="telefone" placeholder="Telefone" required>
            </mat-form-field>
            <mat-form-field>
                <input type="date" matInput [(ngModel)]="cliente.data_nascimento" name="data_nascimento" placeholder="Data de nascimento" required>
            </mat-form-field>
        </div>
        <div class="botao">
            <button mat-raised-button type="submit" color="primary">
                Salvar
            </button>
        </div>
    </form>
</mat-card>
